.Settings {
  &-container {
    padding: 2rem;
    border-radius: 8px;
  }

  .settings-nav-link {
    padding: 1rem;
    
    &.active {
      background: #007bff;
      color: white;
    }

    &:hover:not(.active) {
      background: #f8f9fa;
    }
  }

  .number {
    color: #007bff;
    font-weight: bold;
  }
} 